<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="header.css">
        
  
    </head>
    <body>
        <div class="ui container" id="bodycontainer">
        <h1 id="Title">Blog Receipe</h1>
        
            <div class="ui secondary  menu">
                <a class="active item" href="/">
                    Home
                  </a>
                  <a class="item">
                    My Receipes
                  </a>
                  <div class="right menu">
                    
                    <a class="ui item">
                      Login
                    </a>
                     <a class="ui item">
                      Sign Up
                    </a>
                     <a class="ui item">
                      Logout
                    </a>
                  </div>
                </div>
                
                <div class="ui grid container">
                    <div class="six wide column">
                        <div class="ui grid container segment">
                            <div class="row">
                                <div class="ui icon input">
                                    <input type="text" placeholder="Search...">
                                    <i class="search link icon"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="sixteen wide column">
                                    <div id="map"></div>
                                </div>
                                
                            </div>
                                
                        </div>
                             
                    </div>
                     
                
                    
                    <div class="ten wide column">