<% include partials/header.ejs %>
<div class="ui grid container segment">
    <div class="sixteen wide column">
         <form class="ui form" action="/blogs" method="POST">
  <div class="field">
    <label>TITLE</label>
    <input type="text" name="recipe[title]" placeholder="Title here">
  </div>
  <div class="field">
    <label>IMAGE</label>
    <input type="text" name="recipe[image]" placeholder="Image URL here">
  </div>
 
  <button class="ui button" type="submit">Submit</button>
</form>
    </div>
   
</div>

<% include partials/footer.ejs %>