#Title{
    text-align:center;
    margin-top:50px;
}
#bodycontainer{
    width:75%;
}
#map {
        height: 200px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
#add-button-div{
    border:0;
}